.nft {
  @include animationTimeline(--cardArticle, block, show);
  @include card();

  .nombre {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    h2 {
      font-family: "Protest Riot";

      margin: 0;
      padding: 0;
      font-weight: 100;
    }
  }

  .costo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    h2 {
      font-family: "Protest Riot";

      margin: 0;
      padding: 0;
      font-weight: 100;
    }
  }

  .btn {
    button {
      width: 100% !important;
      background-color: rgba(#ddcd55, 0.5);
      background: linear-gradient(
        90deg,
        rgba(61, 19, 0, 0.5) 0%,
        rgba(0, 36, 61, 0.5) 100%
      );
      border-radius: 0;
      color: #fff;

      box-shadow: 0 0 5px #ddcd55, 0 0 2px #9ffef0, 0 0 10px #bc4450,
        0 0 5px #18f1d5;

      &:hover {
        background: linear-gradient(
          90deg,
          rgba(61, 19, 0, 0.8) 0%,
          rgba(0, 36, 61, 0.8) 100%
        );
      }
    }
  }
}
