
@import "./lib/style";
@import "./global/variables";
@import "./global/mixin";
@import "./global/animaciones";
@import "./global/global";
@import "../components/views/home/style/home.scss";
@import "../components/views/shop/style/shop.scss";

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

* {
  transition: all 0.5s ease;
}
