main {
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    flex-direction: column;
    color: #fff;

    h2 {
      margin: 0;
      padding: 0;
      font-size: 42px;
      text-transform: uppercase;
      font-weight: 400;
      text-shadow: 0px 0px 20px hsl(0deg 0% 0%);
      font-family: "Protest Riot";
      font-weight: 400;
    }

    P {
      font-size: 24px;
      font-weight: 400;
      margin: 0;
      padding: 0;
      text-transform: uppercase;

      text-shadow: 0px 0px 20px hsl(0deg 0% 0%);
      font-family: "Protest Riot";
    }

    .wallet {
      margin-top: 10px;
      min-width: 140px;
      background-color: #ffffff29;
      backdrop-filter: blur(10px);
      color: #fff;
      border: 1px solid rgba(#fff, 0.9);
      @include button-size-on-click(0.95);
      @include button-border-animation(2s);
      &.tw-connected-wallet {
        &::before {
          display: none;
        }
        span {
          color: #fff;
        }
      }
    }
  }
}
